.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.home-image {
    max-width: 900px;
}

/* Responsive */
@media (max-width: 768px) {
    .home-image {
        min-height: 400px; 
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}